<div{{ attributes.addClass('studentclass', 'some-other-custom-class') }}>
  <h3>
    Students list:
  </h3>
  <a href="/registration">Add new student</a>
  <table{{ attributes.addClass('studentregistration-table') }}>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Bank number</th>
      <th>Phone</th>
      <th>Date of birthday</th>
      <th>Gender</th>
      <th>Average mark</th>
      <th>Edit link</th>
      <th>Delete link</th>
    </tr>

    {% for student in students %}
      <tr>
        <td>{{ student.uid }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.rollnumner }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.dob }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.average_mark }}</td>
        <td><a href="/registration/{{ student.uid }}/edit">edit</a></td>
        <td><a href="/registration/{{ student.uid }}/delete">delete</a></td>
      </tr>
    {% endfor %}
  </table>
</div>

