<div{{ attributes.addClass('mymodule-example-theme', 'some-other-custom-class') }}>
  <h3>
    User {{ name }} successfully added into db! 123123123123
  </h3>
  <ul>
    <li><b>Name :</b> {{ name }}</li>
    <li><b>Age :</b> {{ age }}</li>
    <li><b>Email :</b> {{ email }}</li>
    <li><b>Gender :</b> {{ gender }}</li>
  </ul>

</div>

